<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Drivers License Validation Test Suite">
            <directory suffix="Test.php">./Service</directory>
            <directory suffix="Test.php">./Job</directory>
        </testsuite>
    </testsuites>
</phpunit>